.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

// Button types
.rounded {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.838);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgb(153, 20, 15);
        color: white;
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    display: block;
    margin: auto;
    color: rgba(188, 5, 5, 0.8);
    border: none !important;
    padding: 8px;
    border-radius: 5px;
    min-width: 170px;
    font-size: 25px;
    box-shadow: 0px 0px 5px black;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(246, 246, 246, 0.8);
    &:hover {
        background-color: rgba(172, 21, 33, 0.7);
        color: white;
        cursor: pointer;
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Disabled

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
