.wrapper {
    position: relative;
    background-color: white;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-infor {
    width: 100%;
    padding: 0px 50px;
    font-size: 20px;
}

.wrapper h1 {
    padding: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.user-infor :first-child {
    font-weight: bold;
}

.form-boxs p {
    color: red;
    margin-left: 40px;
}

.user-infor p {
    margin: 5px;
    color: black;
}

.button-left {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.button-right {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.form-boxs {
    max-height: 200px;
}

.text {
    color: rgb(206, 33, 33);
}
