.wrapper-3 {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(https://qldt.hust.edu.vn/images/login.png);
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    height: 300px;
    width: 400px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
}

.button-cancel {
    position: absolute;
    left: 20px;
    bottom: 90px;
}

.button-submit {
    position: absolute;
    right: 20px;
    bottom: 90px;
}

.button-back {
    position: absolute;
    right: 25%;
    bottom: 20px;
}

.form-box-submit {
    margin-top: 50px;
}

.form-box-submit h2,
.link-broke {
    color: white;
}

.form-box-custom {
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    font-size: 20px;
    &:focus-within {
        background-color: rgba(237, 240, 243, 0.936);
        color: rgb(0, 0, 0);
    }
}

input {
    padding-left: 10px;
}
